.adminBanner{
    display:flex;
    background-color: blueviolet;
    color:white;
    height:550px;
}

.adminBanner {
    background-image: url("https://i.natgeofe.com/n/563ada3c-fc64-4b83-8ad5-3abbb3500849/92609_16x9.jpg"); /* The image used */
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 550px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
  }
.adminBannerLeft{
    width:25%;
}

.adminBannerMiddle{
    width:50%;
}
    /*These two are children of adminBannerMiddle*/
    .upper_adminBannerMiddle{
        display:flex;
        height:33%
    }
        .upper_adminBannerMiddle button{
            height:30px;
            width:90px;
        }
    .lower_adminBannerMiddle{
        height:66%;
        
    }
        .lower_adminBannerMiddle h1{
            margin-top: 0;
            font-size: 60px;
            letter-spacing: 4px;
        }
    /**/
.adminBannerRight{
    width:25%;
}

.adminSearch{
 display:flex;
}
.adminSearchLeft{
    width:25%
}
.adminSearchMiddle{
    width:50%;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    gap: 20px;

}
.adminSearchRight{
    width:25%;
}

/* This may have to be moved to a diffrent component later on, or reactstrap maight take care of this */
.adminCardArea{
    display:flex;
    gap:20px;
    
    justify-content: space-between;
}
.adminCard{
    border:solid black 4px;
    flex-grow:1;
    max-height: 190px;
    background-color: white;
  
}

.adminCard img{
    width:235px;
    height:140px;
}