.caveBanner{
    display:flex;
    background-color: blueviolet;
    color:white;
    height:400px;
}
.caveBannerLeft{
    width:25%;
}

.caveBannerMiddle{
    width:50%;
}
    /*These two are children of caveBannerMiddle*/
    .upper_caveBannerMiddle{
        display:flex;
        height:33%
    }
        .upper_caveBannerMiddle button{
            height:30px;
            width:80px;
            
        }
    .lower_caveBannerMiddle{
        height:66%
    }
        .lower_caveBannerMiddle h1{
            margin-top: 0;
            font-size: 80px;
            letter-spacing: 4px;
        }
        .lower_caveBannerMiddle h3{
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            letter-spacing: 2px;
        }
        .lower_caveBannerMiddle button{
            color:white;
            background-color: rgba(0, 0, 0, 0.61);
            height:40px;
        }
    /**/
.caveBannerRight{
    width:25%;
}

.caveSearch{
 display:flex;
 margin-bottom: 20px;
}
.caveSearchLeft{
    width:25%
}
.caveSearchMiddle{
    width:50%;
    justify-content: space-between;
    gap: 20px;

}
.caveSearchMiddle p{
    font-family: Arial, Helvetica, sans-serif;
}
.caveSearchMiddle h2{
    letter-spacing: 2px;
}
    .tourArea_cardArea{
        display:flex;
        flex-wrap: wrap;
        gap:20px;
    }
    .caveSearchMiddle_orgArea{
        display:flex;
        flex-wrap:wrap;
        gap:20px;
    }

.caveSearchRight{
    width:25%;
}

