.header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color:white;
    
}

.headerLeft{
    width:25%
}
#logo{
    padding-left: 5%;
}

#userIcon{
    height:40px;
    width:40px;
    border-radius: 40%;
    align-self: center;
}

.headerMiddle{
    width:50%;
    display:flex;
    justify-content: flex-end;
}
    /*Child of headerMiddle*/
    .headerMiddleUserInfo{
        display:flex;
        width:100%;
        justify-content: space-between;
    }
        .headerViews{
            display:flex;
            gap:20px;
        }
        .headerUser{
            display:flex;
            gap:20px;
        }
.headerRight{
    width:25%;
    text-align: right;
}
#logoutButton{
    padding-right: 20%;
    color:white;
    background-color: black;
    font-size: 20px;
}