.header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color:white;
}

.headerLeft{
    width:25%
}
#logo{
    padding-left: 5%;
}

.headerMiddle{
    width:50%;
    display:flex;
    justify-content: flex-end;
}
    /*Child of headerMiddle*/
    .headerMiddleUserInfo{
        display:flex;
    }
.headerRight{
    width:25%;
    text-align: right;
}
#logoutButton{
    padding-right: 20%;
    color:white;
    background-color: black;
    font-size: 20px;
}