

.mainBanner{
    display:flex;
    color:white;
    height:400px;
}
.mainBanner {
    background-image: url("https://i.natgeofe.com/n/4b86d399-eb46-4864-87a1-dd17a6f5306f/ruby-falls-cavern-tennessee_16x9.jpg?w=1200"); /* The image used */
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 450px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
  }
.mainBannerLeft{
    width:25%;
}

.mainBannerMiddle{
    width:50%;
}
    /*These two are children of mainBannerMiddle*/
    .upper_mainBannerMiddle{
        display:flex;
        height:33%
    }
        .upper_mainBannerMiddle button{
            height:30px;
            width:80px;
        }
    .lower_mainBannerMiddle{
        height:66%
    }
        .lower_mainBannerMiddle h1{
            margin-top: 0;
            font-size: 80px;
            letter-spacing: 4px;
        }
    /**/
.mainBannerRight{
    width:25%;
}

.mainSearch{
 display:flex;
}
.mainSearchLeft{
    width:25%
}
.mainSearchMiddle{
    width:50%;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;

}
.mainSearchRight{
    width:25%;
}

/* This may have to be moved to a diffrent component later on, or reactstrap maight take care of this */
.caveCard{
    border:solid black 4px;
    width:350px;
  
}

.caveCard img{
    max-width:100%;
    height:auto;
}