.mainBanner{
    display:flex;
    background-color: blueviolet;
    color:white;
    height:400px;
}
.mainBannerLeft{
    width:25%;
}

.mainBannerMiddle{
    width:50%;
}
    /*These two are children of mainBannerMiddle*/
    .upper_mainBannerMiddle{
        display:flex;
        height:33%
    }
        .upper_mainBannerMiddle button{
            height:30px;
            width:80px;
        }
    .lower_mainBannerMiddle{
        height:66%
    }
        .lower_mainBannerMiddle h1{
            margin-top: 0;
        }
    /**/
.mainBannerRight{
    width:25%;
}

.mainSearch{
 display:flex;
}
.mainSearchLeft{
    width:25%
}
.mainSearchMiddle{
    width:50%;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: antiquewhite;
    gap: 20px;

}
.mainSearchRight{
    width:25%;
}

/* This may have to be moved to a diffrent component later on, or reactstrap maight take care of this */
.caveCard{
    border:solid black 4px;
    width:350px;
  
}

.caveCard img{
    max-width:100%;
    height:auto;
}